/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

/* Global Variables */
:root {
  --main-size: 0.25rem;
  --main-color: #fff2f2;
  --hang-man-color: gray
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #111111;
  color: var(--main-color);

}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;

}

/* Navigation Styles */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  background: #4476fe;
  margin: 10px auto;
  border-radius: 10px;

}

ul {
  transition: background-color 0.3s;
  cursor: pointer;
}

ul li {
  flex: 1;
  text-align: center;

}

ul:hover {
  background-color: #082983;
}

/* Container Styles */
.container {
  margin: 20px auto;
  width: 90%;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  position: relative;
}

@media (max-width: 900px) {
  .row {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Divider Styles */
hr:first-of-type {
  border: 2px solid #02587f;
}

/* Game Info Styles */
.game-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  justify-content: space-around;
}

.game-info .game-name {
  flex: 1;
}

.game-info .category {
  flex: 1;
  text-align: right;
}

.game-info span {
  text-transform: capitalize;
  color: #4476fe;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Hangman Draw Styles */
.hangman-draw {
  flex: 1;
  padding: 20px;
  height: 320px;
}

.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: var(--main-size) solid var(--main-color);
  position: relative;
  margin: auto;
}

/* Hangman Stand Styles */
.the-stand {
  content: '';
  position: absolute;
  width: var(--main-size);
  background: var(--main-color);
  height: 100%;
  left: 50%;
  transform: translateX(calc(var(--main-size) / 2 * -1));
}

/* Hangman Hang Styles */
.the-hang::before,
.the-hang::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  top: 10%;
}

.the-hang::before {
  height: var(--main-size);
  width: 100px;
  left: 57%;
}

.the-hang::after {
  height: 40px;
  width: var(--main-size);
  left: 217%;
}

/* Other Hangman Parts (Add Styles as Needed) */
.the-rope {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  transform: translate(60%, -26%);
  top: 30%;
  border: dashed var(--main-size) var(--main-color);
  box-shadow: 0px 1px 10px 1px #191919;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid var(--hang-man-color) var(--main-size);
  position: absolute;
  left: 107px;
  top: 75px;
}

.body {
  position: absolute;
  width: var(--main-size);
  height: 34%;
  background-color: var(--hang-man-color);
  top: 124px;
  left: 217%;
}

.hands::before,
.hands::after {
  content: '';
  position: absolute;
  width: var(--main-size);
  height: 60px;
  background: var(--hang-man-color);
  top: 40%;
  border-radius: 10px;
}

.hands::before {
  transform: rotate(42deg);
  left: 250%;
}

.hands::after {
  transform: rotate(-42deg);
  left: 182%;
}

.legs::before,
.legs::after {
  content: '';
  position: absolute;
  width: var(--main-size);
  height: 60px;
  background: var(--hang-man-color);
  top: 75%;
  border-radius: 10px;
}

.legs::after {
  transform: rotate(-40deg);
  left: 250%;
}

.legs::before {
  transform: rotate(40deg);
  left: 185%;
}

/* Letters Styles (Add Styles as Needed) */
.letters {
  flex: 1;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.letter-container {
  cursor: pointer;
  width: 4ch;
  height: 4ch;
  border: 2px solid var(--hang-man-color);
  background-color: #2655d7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .625rem;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: -1px 6px 3px #000000;
  box-shadow: inset 0px 5px 20px 2px black;
  transition: .3s;
  user-select: none;
}

.letter-container:hover {
  color: gray;
}

.letter-container:active {
  transform: scale(1.2);
  opacity: .8;
}

.letters-guess {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.letters-guess span {
  min-width: 3ch;
  min-height: 3ch;
  border-radius: 9px;
  border-bottom: 2px solid #02587f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

.letters-guess span.with-space {
  position: relative;
  min-width: 4ch;
  min-height: 4ch;
}

.letters-guess span.with-space::before {
  content: '';
  width: 80%;
  height: var(--main-size);
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-top: 30px;
}

footer p {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Control Of this Class By Javascript */
.clicked {
  pointer-events: none;
  background-color: #222;
  opacity: .2;
}

/* Initial state: hide all hangman parts */
.hangman-draw .the-draw,
.hangman-draw .the-stand,
.hangman-draw .the-hang,
.hangman-draw .the-rope,
.hangman-draw .head,
.hangman-draw .hands,
.hangman-draw .body,
.hangman-draw .legs {
  display: none;
}

/* Show hangman parts based on wrong attempts */
.hangman-draw.wrong-1 .the-draw {
  display: block;
}

.hangman-draw.wrong-2 .the-stand {
  display: block;
}

.hangman-draw.wrong-3 .the-hang {
  display: block;
}

.hangman-draw.wrong-4 .the-rope {
  display: block;
}

.hangman-draw.wrong-5 .head {
  display: block;
}

.hangman-draw.wrong-6 .hands {
  display: block;
}

.hangman-draw.wrong-7 .body {
  display: block;
}

.hangman-draw.wrong-8 .legs {
  display: block;
}

/* Adding Class Over To Mute Event On Letters */
.letters.over {
  pointer-events: none;
}

/* Popup  */
.popup {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  cursor: pointer;
  border: 2px solid var(--hang-man-color);
  background-color: #000;
  padding: 1.25rem;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  display: none;
}


@media (max-width: 900px) {
  .letter-container {
    max-width: 3ch;
    max-height: 3ch;
    width: 3ch;
    height: 3ch;

  }

  .popup {
    font-size: .8rem;
  }
}